<section class="iconboxes-section section"  >
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading">
            <h4><b>My Food</b></h4>
          </div>
        </div><!-- col-sm-12 -->
  
        <div *ngIf="myFoodList.length == 0" class="d-flex justify-content-center" style="margin-left: 45%;">
          <app-loading></app-loading>
        </div>
  
  
        <section  *ngIf="myFoodList.length != 0" class="container row" style=" height: auto; box-shadow: 2px 15px 29px 15px #adadad; padding: 20px">
          <!-- people though -->
  
          <div class="col-sm-6 col-md-6 col-lg-5"
            style="border-radius: 5px ;border: 2px solid #000000;margin-left: 55px; margin-top: 30px; padding: 20px;background-color: #eeeeee;"
            *ngFor="let x of myFoodList ; let id = index">

            <div class="iconbox margin-b-30">
              <div class="profile-img">
                <img [src]=x.image  style="height: 20vh; width: 100%;">
              </div>
              <br>

  
              <h5 class="margin-tb-20"><b>{{x.name}}</b></h5>
              <p>{{x.dis}}</p>
              <p>{{x.price}} EGP</p>
            </div><!-- counter -->
            <button *ngIf="user == owner" class="btn btn-danger" style="float: left;" (click)='onDeleteItem(x.id , id)'>Delete</button>
            <button *ngIf="user != owner" class="btn btn-primary" style="float: right;" (click)="orderProduct(x)">Order</button>
  
          </div><!-- col-md-4 -->
  
        </section>
  
  
  
      </div><!-- row -->
    </div><!-- container -->
  </section><!-- progression-section -->
  