.Pop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  z-index: 50;
}
.productDetail{
  position: fixed;
  top :40vh;
  left: 40%;
  background: #FFF;
  width: 22%;
  height: 15rem;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
  opacity: 1;


}
.productDetail button{
    margin-top: 20px;
}

.fa-times:hover {
  transform: scale(1.2);
}


