<app-header></app-header>

<div *ngIf="!length" style="margin:20vh 45vw;">
    <app-loading></app-loading>
</div>
    <div *ngIf="length" class="row d-flex justify-content-center  Content" style="margin-top: 55px;" >

        <section  class="col-md-12 Summary" >   
            <div class="container Summary-det" style="box-shadow: 0px 0px 10px #a7a7a7; margin: 20px auto;">
                    <h1 class="text-center">Summary</h1>
                    <br><BR>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5>Total Orders</h5> 
                            <small style="float:right ; font-size: 20px;">{{carts.length}} Orders</small>
                        </li>
                      
                        <li class="list-group-item">
                            <h5>Total Price</h5> 
                            <small style="float:right ; font-size: 20px;">{{price}}  EGY</small>
                        </li>


                      </ul>

            </div>

        </section>



        <section class=" col-md-12 offest-1 Items" style="height: 80vh;  background-color: white  ;overflow-y: scroll;" >

            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Price</th>
                    <th scope="col">Chef</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr  *ngFor="let cart of carts; let i = index">
                    <th scope="row">{{i}}</th>
                    <td> <img [src] ='cart.image' style="width: 100px; height: 100ox; border-radius: 20px 0px; "> </td>

                    <td>   {{cart.name}}   </td>

                    <td>{{cart.Time}}</td>
                    <td>{{cart.price}}</td>
                    <td> <a routerLink="/profile" [queryParams]="{email:cart.chefEmail }"> {{cart.chefEmail}} </a> </td>
                  </tr>
                </tbody>
              </table>
              
              
      

        </section>

       
    </div>

