<div>
    <section class="container" style=" height: auto; box-shadow: 0px 0px  15px #e4e4e4; padding: 20px">
        <!-- people though -->
        <h3>Comment</h3>
        <form class="container" style=" margin-top: 15px" (ngSubmit)='onAddReview()' #AddNewComment="ngForm" >
      
          <input class="form-control" placeholder="Rating" ngModel name="rate">
          <br>
          <input class="form-control" placeholder="Add your comment" ngModel name="review">
          <br><BR>
          <button class="btn btn-primary" type='submit'> Comment </button>
      
        </form>
      
      </section>
      <BR><BR>
      
      
      
      <section class="container" style=" height: auto; box-shadow: 0px 0px  15px #bebebe; padding: 20px">
        <!-- people though -->
        <h3>Recent Reviews</h3>
      
        <hr style="border-bottom:1px solid black ">
      
        <div *ngIf="reviewPeople.length == 0" class="d-flex justify-content-center" style=" margin: auto;">
          <app-loading></app-loading>
        </div>
      
        <div *ngIf="reviewPeople.length != 0">
          <div  class="row container" style=" margin-top: 2vh" *ngFor="let review of reviewPeople">

            <section class="col-md-3">
              <img style="width: 10vw;height: 23vh;" [src]="review.image">
            </section>

            <section class="col-md-9">

              <span style="font-size: 20px;">{{review.name.split('@')[0]}}</span>
              <span style="margin: 0px 10px;">  {{review.name}}  </span>
              <br>
              <hr>

              <span class="fa fa-star" style="color: gold" > </span>
              <span style="margin: 0px 20px;"> {{review.rate}} / 10  </span>
              <hr>

              <p> {{review.review}}</p>
              <hr>

              <h4> {{review.postedin}} </h4>
      
            </section>

          </div>
      
        </div>
      
      
      </section>
</div>