<div>
    <section class="container" style=" height: auto; box-shadow: 2px 15px 29px 15px grey; padding: 20px">
        <!-- people though -->
        <h3>Comment</h3>
        <form class="container" style=" margin-top: 15px" (ngSubmit)='onAddReview()' #AddNewComment="ngForm" >
      
          <input class="form-control" placeholder="Rating" ngModel name="rate">
          <br>
          <input class="form-control" placeholder="Add your comment" ngModel name="review">
          <br><BR>
          <button class="btn btn-primary" type='submit'> Comment </button>
      
        </form>
      
      </section>
      <BR><BR>
      
      
      
      <section class="container" style=" height: auto; box-shadow: 2px 15px 29px 15px grey; padding: 20px">
        <!-- people though -->
        <h3>Recent Reviews</h3>
      
        <hr style="border-bottom:1px solid black ">
      
        <div *ngIf="reviewPeople.length == 0" class="d-flex justify-content-center" style=" margin: auto;">
          <app-loading></app-loading>
        </div>
      
        <div *ngIf="reviewPeople.length != 0">
          <div  class="row container" style=" margin-top: 15px" *ngFor="let review of reviewPeople">
            <section class="col-md-3">
              <img style="width: 10vw;height: 23vh;" [src]="review.image">
            </section>
            <section class="col-md-9">
              <h3>{{review.name}}</h3>
              <span class="fa fa-star" style="color: gold" > </span>
              <span style="margin: 0px 20px;"> {{review.rate}} /5  </span>
              <p> {{review.review}}</p>
              <h4> - {{review.postedin.split(":")[0]}} </h4>
      
            </section>
      
          </div>
      
        </div>
      
      
      </section>
</div>