<div *ngIf="USER == null" style="margin: 0vh 46vw;">
  <app-loading></app-loading>
</div>
<div *ngIf="USER != null">
  <section class="intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
          <div class="intro">
            <div class="profile-img"><img [src]="USER.image"></div>

            <h2><b>{{USER.firstName}} {{USER.lastName}}</b></h2>
           <i class="fa fa-ellipsis-h" style="cursor: pointer;" (click)='onGetOptions()'></i>

            <ul class="information margin-tb-30">
              <li><b>Born : </b>{{USER.date}}</li>
              <li><b>Emai : </b>{{USER.email}}</li>
              <li><b>Phone : </b>{{USER.phone}}</li>
            </ul>
            <ul class="social-icons">
              <li><a [href]="USER.link"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div><!-- intro -->
        </div><!-- col-sm-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </section>

</div>

