<div *ngIf="USER == null" style="margin: 0vh 46vw;">
  <app-loading></app-loading>
</div>
<div *ngIf="USER != null">
  <section class="intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
          <div class="intro">
            <div class="profile-img"><img [src]="USER.image" style="height: 100%;"></div>

            <h2><b>{{USER.firstName}} {{USER.lastName}}</b></h2>
           


            <ul class="information margin-tb-30">
              <li><b>Born : </b>{{USER.date}}</li>
              <li><b>Emai : </b>{{USER.email}}</li>
              <li><b>Phone : </b>{{USER.phone}}</li>
            </ul>

           <br><BR>
            
             <div *ngIf="owner != user">
               <h6 *ngIf="reportSend" style="font-weight: bold;">Repot Sent...</h6>
              <button *ngIf="!reportSend" (click)="onAction('report')" class="btn btn-warning">Report</button>
            </div>
          </div><!-- intro -->
        </div><!-- col-sm-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </section>

</div>
