<app-header></app-header>

<div *ngIf="ListOfPro.length == 0" class="d-flex justify-content-center" style="margin-top: 30vh;">
  <app-loading></app-loading>
</div>

<div style="height: 98vh;overflow: hidden; ;overflow-y: scroll;" style="padding: 0px 40px;">
  <div class="row">

    <div class="card col-sm-2" *ngFor="let item of ListOfPro" style="background-color: white ; color: #272727;">

      <div>
        <img class="PHOTO card-img-top" [src]='item.image'  (click)="onGetProductDetails(item.id)">
      </div>

      <div class="card-body " style="text-align: center">
        <div class="card-footer ">
            <h4>  <strong> {{item.name}} </strong> </h4>
        </div>
      

        <div class="card-footer  float-right">   
          <h5>  {{item.price}} <small>EGP</small></h5>
        </div>


      </div>

    </div>

  </div>



</div>



<div>
  <router-outlet></router-outlet>
  <!--  <app-product-details></app-product-details>-->
    <!-- notficatio -->
</div>

<!--/**********************************************/-->
