<app-header style="margin-bottom: 55px;"></app-header>

   <app-user></app-user>

   <nav class="navbar navbar-expand-lg navbar-light ">
  
    <div class="collapse navbar-collapse" >

      <ul class="navbar-nav m-auto">
        <li class="nav-item ">
          <button style="color: black;" class="nav-link btn" (click)="onAppear('Progress')" >Progress</button>
        </li>
        <li class="nav-item">
          <button style="color: black;" class="nav-link  btn" (click)="onAppear('Food')">Food</button>
        </li>
        <li class="nav-item">
          <button style="color: black;" class="nav-link  btn"  (click)="onAppear('Comment')">Comment</button>
        </li>
       
      </ul>
    </div>
  </nav>


    <app-progress *ngIf="progress"></app-progress>

   <app-food *ngIf="food"></app-food>

    <app-comment *ngIf="comment"></app-comment>

<section class="fixed-bottom" style="left: 95%; margin: 30px -50px;" *ngIf="owner == user">
  <button  style="background-color: #aaaaaa; width: 60px; height: 60px; border-radius: 50%; border: none;" (click)='onAdd()'>
    <i class="fa fa-plus" style="font-size: 25px; color: white;"></i>
  </button>
</section>



<div>
  <router-outlet></router-outlet>
</div>
