
<div class="row  myContainer">
  <!-- <div class="col-xl-12" >
    <button  style="float: right; margin-top: 50px; width: 200px" class="btn btn-outline-primary" (click)="onFilterUp()">Filter</button>
  </div> -->

  <!-- <div class="row Category" *ngIf="!filterUp">

    <section class="col-md-3">

      <h3>Category</h3>
      <section class="form-row">
        <h4 class="card-title form-group col-md-11">Food</h4>
        <li class="fa fa-plus" style="font-size: 20px ;color: darkgray" (click)="onPopUpMenu()" ></li>
      </section>

      <div class="menu" style="border:2px solid #efebeb" *ngIf="popIt">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">  <input type="checkbox" value="hot"> <span> Hot</span> </li>
          <li class="list-group-item">  <input type="checkbox" value="cold"> <span> Cold</span> </li>
          <li class="list-group-item">  <input type="checkbox" value="Hot"> <span> Sea</span>  </li>
        </ul>
      </div>



    </section>
    <section class="col-md-6">

      <h3>Filter</h3>

      <div class="row">
        <section class="Place col-md-6">
          <h4 >Place</h4>
          <select class="custom-select">
            <option  >tanta</option>
            <option  > alex</option>
            <option  > shebin</option>
            <option  > cairo</option>
            <option  > aswan</option>
            <option  > damanhoooooooa</option>
            <option  > kafr El Dawar (7ass b do5a)</option>
          </select>
        </section>

        <section class="col-md-6">

          <section class="PriceBar">
            <h4>Price</h4>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label >From(EGP)</label>
                <input type="number" class="form-control"  value="0">
              </div>

              <div class="form-group col-md-6">
                <label>To(EGP)</label>
                <input type="number" class="form-control"  value="200">
              </div>

            </div>

          </section>

        </section>
      </div>

    </section>

    <section class="col-md-3">

      <div class="form-group">
        <button style="width: 50% ;float: bottom" type="button" class="btn btn-primary" >Apply</button>
      </div>

    </section>



  </div> -->

  <!-- <div class="col-xl-12 container Filter;" style="margin-top: 15px; border-radius: 30px; overflow: hidden;">
      <ul class="row" style="list-style-type: none; width: 100%; ">
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">Vegetables</li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">Fruits</li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">Nuts</li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">Meat</li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">Seafood</li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">Sandwiches</li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">Soups</li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">Breads</li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">beef </li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">chicken </li>
        <li class="col" style="background-color: #747373; font-size:22px; color: white;">Desserts</li>
     
        
      </ul>
  </div> -->



  <div class="col-xl-12 prodectsPage">
    <app-products></app-products>
  </div>

</div>



